.topbarContainer {
    height: 60px;
    width: 100%;
    margin-left: -5px;
    margin-bottom: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
    box-shadow:  0 0.055em 0.225em rgb(20 20 20 / 15%);
  }

  .topbarLeft {
    flex: 3;
  }
  
  .logo {
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
    font-weight: bold;
    color: #1877f2;
    cursor: pointer;
    height: 50px;
  }
  
  .topbarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
  }
  
  .topbarLink {
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .topbarImg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }

  .link {
    text-decoration: none;
  }
  .icon {
    margin: 0px 25px;
    cursor: pointer;
  }

  .options {
    display: none;
    background-color: black;
    border-radius: 0px 0px 10px 10px;
     width: 140px;
     margin-top: 8px;
     border: 1px solid black;
     margin-left: -140px;
    }

    span {
      padding: 0px;
      cursor: pointer;
      border-radius: 10px;
    }

 
      .options {
        display: none;
        height: 160px;
        padding: 4px;
        /* box-shadow: inset 0 0.055em 0.225em rgba(207, 205, 205, 0.5); */
        box-shadow:  0 0.055em 0.225em rgb(20 20 20 / 15%);
        flex-direction: column;
        position: absolute;
      }
    
  