.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    /* padding-bottom: 10px; */
  }
  
  .post__body {
    flex: 1;
    padding: 10px;
    min-width: 100%;
  }
  
  .post__body > img {
    border-radius: 10px;
    min-width: 80%;
  }
  
  .post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
  }
  
  .post__headerLocation {
    margin-bottom: 40px;
    margin-top: 10px;
    margin-left: -30px;
    font-size: 12px;
    color: var(--twitter-color)
  }
  .post__headerDescription {
    margin-top: -10px;
    margin-bottom: 20px;
    margin-left: -20px;
    font-size: 15px;
  }
  
  .post__headerText > h3 {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: -20px;
  }
  
  .post__badge {
    font-size: 16px !important;
    color: var(--twitter-color);
    margin-left: 2px;
  }
  
  .post__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
  }
  
  .post__avatar {
    padding: 30px;
  }

  img {
    min-width: 80%;
  }

  .updatebutton {
    background-color: black;
    color: white;
    box-shadow: '0.0em 0.0em 0.2em -0em rgb(10 10 10 / 30%)';
    width: '30%'; 
    margin-left: '62.5%'
  }